In [1]:
import pandas as pd

In [2]:
sale = pd.read_csv('df.csv')
sale

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,revenue,year_month
0,2013-01-02,0,59,22154,999.0,1.0,37,999.0,2013-01
1,2013-01-23,0,24,22154,999.0,1.0,37,999.0,2013-01
2,2013-01-20,0,27,22154,999.0,1.0,37,999.0,2013-01
3,2013-01-02,0,25,22154,999.0,1.0,37,999.0,2013-01
4,2013-01-03,0,25,22154,999.0,1.0,37,999.0,2013-01
...,...,...,...,...,...,...,...,...,...
2935844,2015-10-17,33,25,8428,249.0,1.0,40,249.0,2015-10
2935845,2015-10-01,33,25,7903,12198.0,1.0,15,12198.0,2015-10
2935846,2015-10-29,33,25,7610,2890.0,1.0,64,2890.0,2015-10
2935847,2015-10-22,33,25,7635,2100.0,1.0,64,2100.0,2015-10
2935848,2015-10-01,33,25,7640,4040.0,1.0,64,4040.0,2015-10

In [3]:
sale['date'] = pd.to_datetime(sale['date'])

In [4]:
sale['year_month'] = sale['date'].dt.strftime('%Y-%m')

In [5]:
sale['revenue'] = sale['item_price'] * sale['item_cnt_day']

In [6]:
X = sale[['date_block_num', 'shop_id', 'item_id', 'item_category_id']]
y = sale['item_cnt_day']

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression

model = LinearRegression() 
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [9]:
import numpy as np
from sklearn.metrics import mean_squared_error, f1_score, accuracy_score
def convert_to_class_labels(y_pred):
    # Convert continuous predictions to class labels based on a threshold
    threshold = 0.5  # Adjust the threshold based on your problem
    y_pred_class = (y_pred >= threshold).astype(int)
    return y_pred_class

# Assuming you have the true labels y_true and predicted values y_pred

# Calculate mean squared error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE): {:.4f}".format(mse))

# Convert the targets to non-negative values for calculating MSLE
y_test_non_negative = np.clip(y_test, a_min=0, a_max=None)
y_pred_non_negative = np.clip(y_pred, a_min=0, a_max=None)

# Replace missing values with zero
y_test_non_negative = np.nan_to_num(y_test_non_negative)
y_pred_non_negative = np.nan_to_num(y_pred_non_negative)

# Calculate mean squared logarithmic error (MSLE)
msle = mean_squared_error(np.log1p(y_test_non_negative), np.log1p(y_pred_non_negative))
print("Mean Squared Logarithmic Error (MSLE): {:.4f}".format(msle))

# Convert continuous predictions to class labels for classification problem
y_pred_class = convert_to_class_labels(y_pred)  # Replace with your own code

# Calculate F1 score
f1 = f1_score(y_test, y_pred_class, average='weighted')
print("F1 Score: {:.4f}".format(f1))

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred_class)
print("Accuracy: {:.4f}".format(accuracy))

Mean Squared Error (MSE): 4.2372
Mean Squared Logarithmic Error (MSLE): 0.0603
F1 Score: 0.8463
Accuracy: 0.8956

## Feature Engineering

In [10]:
##Scaling and Normalization:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

##  Encoding Categorical Variables:

In [11]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')
X_train_encoded = encoder.fit_transform(X_train)
X_test_encoded = encoder.transform(X_test)

## Model Selection:

    Random Forest Classifier:

In [ ]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [ ]:
###Hyperparameter Tuning:

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth': [3, 5, 7], 'n_estimators': [100, 200, 300]}
grid_search = GridSearchCV(RandomForestClassifier(), param_grid)
grid_search.fit(X_train, y_train)
best_params = grid_search.best_params_

## Data Augmentation:

    Image Data Augmentation (using Keras):

In [ ]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

datagen = ImageDataGenerator(rotation_range=10, width_shift_range=0.1, height_shift_range=0.1, horizontal_flip=True)
augmented_images = datagen.flow(X_train, y_train, batch_size=32)

## Ensemble Learning:

    Voting Classifier:

In [ ]:
from sklearn.ensemble import VotingClassifier

clf1 = RandomForestClassifier()
clf2 = GradientBoostingClassifier()
clf3 = LogisticRegression()

ensemble_clf = VotingClassifier(estimators=[('rf', clf1), ('gb', clf2), ('lr', clf3)])
ensemble_clf.fit(X_train, y_train)
y_pred = ensemble_clf.predict(X_test)